In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import glob as gb
import numpy as np

In [2]:
cause_of_death = pd.read_csv('C:\\Users\\mrent\\OneDrive\\Documents\\Springboard\\Personal Projects\\Cause of Death\\20222703 Causes Of Death Clean Output V2.0.csv')

In [3]:
cod = cause_of_death

In [4]:
cod.head()

,Causes name,Causes Full Description,Death Numbers,Entity,Code,Year
0,Meningitis,Deaths - Meningitis - Sex: Both - Age: All Age...,2933.0,Afghanistan,AFG,2007
1,Neoplasms,Deaths - Neoplasms - Sex: Both - Age: All Ages...,15925.0,Afghanistan,AFG,2007
2,"Fire, heat, and hot substances","Deaths - Fire, heat, and hot substances - Sex:...",481.0,Afghanistan,AFG,2007
3,Malaria,Deaths - Malaria - Sex: Both - Age: All Ages (...,393.0,Afghanistan,AFG,2007
4,Drowning,Deaths - Drowning - Sex: Both - Age: All Ages ...,2127.0,Afghanistan,AFG,2007

In [5]:
cod.index

RangeIndex(start=0, stop=201762, step=1)

In [6]:
cod.columns

Index(['Causes name', 'Causes Full Description', 'Death Numbers', 'Entity',
       'Code', 'Year'],
      dtype='object')

In [7]:
cod.count()

Causes name                201762
Causes Full Description    201762
Death Numbers              190575
Entity                     201762
Code                       200277
Year                       201762
dtype: int64

In [8]:
cod.dtypes

Causes name                 object
Causes Full Description     object
Death Numbers              float64
Entity                      object
Code                        object
Year                         int64
dtype: object

In [9]:
cod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201762 entries, 0 to 201761
Data columns (total 6 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Causes name              201762 non-null  object
 1   Causes Full Description  201762 non-null  object
 2   Death Numbers            190575 non-null  float64
 3   Entity                   201762 non-null  object
 4   Code                     200277 non-null  object
 5   Year                     201762 non-null  int64
dtypes: float64(1), int64(1), object(4)
memory usage: 9.2+ MB

In [11]:
cod.isnull()

,Causes name,Causes Full Description,Death Numbers,Entity,Code,Year
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
...,...,...,...,...,...,...
201757,False,False,False,False,False,False
201758,False,False,False,False,False,False
201759,False,False,False,False,False,False
201760,False,False,False,False,False,False
201761,False,False,True,False,False,False

In [12]:
cod.isnull().sum()

Causes name                    0
Causes Full Description        0
Death Numbers              11187
Entity                         0
Code                        1485
Year                           0
dtype: int64

In [13]:
cod['Death Numbers']= cod['Death Numbers'].fillna('0')

In [25]:
cod

,Causes name,Causes Full Description,Death Numbers,Entity,Code,Year
0,Meningitis,Deaths - Meningitis - Sex: Both - Age: All Age...,2933.0,Afghanistan,AFG,2007
1,Neoplasms,Deaths - Neoplasms - Sex: Both - Age: All Ages...,15925.0,Afghanistan,AFG,2007
2,"Fire, heat, and hot substances","Deaths - Fire, heat, and hot substances - Sex:...",481.0,Afghanistan,AFG,2007
3,Malaria,Deaths - Malaria - Sex: Both - Age: All Ages (...,393.0,Afghanistan,AFG,2007
4,Drowning,Deaths - Drowning - Sex: Both - Age: All Ages ...,2127.0,Afghanistan,AFG,2007
...,...,...,...,...,...,...
201757,Digestive diseases,Deaths - Digestive diseases - Sex: Both - Age:...,4437.0,Zimbabwe,ZWE,2019
201758,Acute hepatitis,Deaths - Acute hepatitis - Sex: Both - Age: Al...,136.0,Zimbabwe,ZWE,2019
201759,Alzheimer's disease and other dementias,Deaths - Alzheimer's disease and other dementi...,812.0,Zimbabwe,ZWE,2019
201760,Parkinson's disease,Deaths - Parkinson's disease - Sex: Both - Age...,232.0,Zimbabwe,ZWE,2019
201761,Number of executions (Amnesty International),Deaths - Number of executions (Amnesty Interna...,0,Zimbabwe,ZWE,2019

In [18]:
cod.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
201757    False
201758    False
201759    False
201760    False
201761    False
Length: 201762, dtype: bool

In [22]:
cod['Causes Full Description'].describe()

count                                                201762
unique                                                   33
top       Deaths - Meningitis - Sex: Both - Age: All Age...
freq                                                   6114
Name: Causes Full Description, dtype: object

In [23]:
cod.loc[10, 'Causes Full Description'] =1

In [24]:
cod

,Causes name,Causes Full Description,Death Numbers,Entity,Code,Year
0,Meningitis,Deaths - Meningitis - Sex: Both - Age: All Age...,2933.0,Afghanistan,AFG,2007
1,Neoplasms,Deaths - Neoplasms - Sex: Both - Age: All Ages...,15925.0,Afghanistan,AFG,2007
2,"Fire, heat, and hot substances","Deaths - Fire, heat, and hot substances - Sex:...",481.0,Afghanistan,AFG,2007
3,Malaria,Deaths - Malaria - Sex: Both - Age: All Ages (...,393.0,Afghanistan,AFG,2007
4,Drowning,Deaths - Drowning - Sex: Both - Age: All Ages ...,2127.0,Afghanistan,AFG,2007
...,...,...,...,...,...,...
201757,Digestive diseases,Deaths - Digestive diseases - Sex: Both - Age:...,4437.0,Zimbabwe,ZWE,2019
201758,Acute hepatitis,Deaths - Acute hepatitis - Sex: Both - Age: Al...,136.0,Zimbabwe,ZWE,2019
201759,Alzheimer's disease and other dementias,Deaths - Alzheimer's disease and other dementi...,812.0,Zimbabwe,ZWE,2019
201760,Parkinson's disease,Deaths - Parkinson's disease - Sex: Both - Age...,232.0,Zimbabwe,ZWE,2019
201761,Number of executions (Amnesty International),Deaths - Number of executions (Amnesty Interna...,0,Zimbabwe,ZWE,2019

In [30]:
to_drop = ['Causes Full Description', 'Code']
cod.drop(to_drop, inplace=True, axis=1)

In [31]:
cod

,Causes name,Death Numbers,Entity,Year
0,Meningitis,2933.0,Afghanistan,2007
1,Neoplasms,15925.0,Afghanistan,2007
2,"Fire, heat, and hot substances",481.0,Afghanistan,2007
3,Malaria,393.0,Afghanistan,2007
4,Drowning,2127.0,Afghanistan,2007
...,...,...,...,...
201757,Digestive diseases,4437.0,Zimbabwe,2019
201758,Acute hepatitis,136.0,Zimbabwe,2019
201759,Alzheimer's disease and other dementias,812.0,Zimbabwe,2019
201760,Parkinson's disease,232.0,Zimbabwe,2019
201761,Number of executions (Amnesty International),0,Zimbabwe,2019

In [32]:
cod.dtypes

Causes name      object
Death Numbers    object
Entity           object
Year              int64
dtype: object

In [33]:
cod.drop_duplicates(inplace=True)

In [34]:
cod

,Causes name,Death Numbers,Entity,Year
0,Meningitis,2933.0,Afghanistan,2007
1,Neoplasms,15925.0,Afghanistan,2007
2,"Fire, heat, and hot substances",481.0,Afghanistan,2007
3,Malaria,393.0,Afghanistan,2007
4,Drowning,2127.0,Afghanistan,2007
...,...,...,...,...
201757,Digestive diseases,4437.0,Zimbabwe,2019
201758,Acute hepatitis,136.0,Zimbabwe,2019
201759,Alzheimer's disease and other dementias,812.0,Zimbabwe,2019
201760,Parkinson's disease,232.0,Zimbabwe,2019
201761,Number of executions (Amnesty International),0,Zimbabwe,2019

In [36]:
cod['Death Numbers'] = cod['Death Numbers'].astype(int)

In [37]:
cod

,Causes name,Death Numbers,Entity,Year
0,Meningitis,2933,Afghanistan,2007
1,Neoplasms,15925,Afghanistan,2007
2,"Fire, heat, and hot substances",481,Afghanistan,2007
3,Malaria,393,Afghanistan,2007
4,Drowning,2127,Afghanistan,2007
...,...,...,...,...
201757,Digestive diseases,4437,Zimbabwe,2019
201758,Acute hepatitis,136,Zimbabwe,2019
201759,Alzheimer's disease and other dementias,812,Zimbabwe,2019
201760,Parkinson's disease,232,Zimbabwe,2019
201761,Number of executions (Amnesty International),0,Zimbabwe,2019